force-app/main/default/flows/Account_Edit_Requests_Pt_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_APS_Users</name>
        <label>Create APS Users</label>
        <locationX>402</locationX>
        <locationY>13022</locationY>
        <actionName>CreateUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Null_Values_to_Collection_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>CollectionUsers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateUser</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>402</locationX>
        <locationY>4982</locationY>
        <actionName>CreateUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Null_Values_to_Collection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>CollectionUsers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateUser</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_User_Denied</name>
        <label>Notify User - Denied</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <actionName>Account_Edit_Request__c.Notify_User_Denied</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AER_Status_Denied_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_AER_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Edit_Request__c.Notify_User_Denied</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>644</locationX>
        <locationY>20222</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your request to change your account record has been approved.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account changes approved!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_User_0</name>
        <label>Update User</label>
        <locationX>534</locationX>
        <locationY>8126</locationY>
        <actionName>CreateUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Null_Values_to_Variables</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>CollectionUsers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateUser</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_User_as_inactive</name>
        <label>Update User as inactive</label>
        <locationX>534</locationX>
        <locationY>16406</locationY>
        <actionName>CreateUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Affiliation_APS</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>collecionUser2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateUser</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AER_Status_Denied_Assignment</name>
        <label>AER Status Denied Assignment</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_AER_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied (Explain Below)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_AER_Record.Denial_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denial_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AER_Record_Status_Denied</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>556</locationX>
        <locationY>19982</locationY>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.Submitted_By__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_False_To_Do_Not_Deactivate_Contact</name>
        <label>Assign False To Do Not Deactivate Contact</label>
        <locationX>2096</locationX>
        <locationY>6950</locationY>
        <assignmentItems>
            <assignToReference>doNotDeactivateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDoNotDeactivateContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Network_And_Function_1.npe5__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Function_or_Network_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_False_To_Do_Not_Deactivate_Contact_0</name>
        <label>Assign False To Do Not Deactivate Contact</label>
        <locationX>2712</locationX>
        <locationY>6950</locationY>
        <assignmentItems>
            <assignToReference>doNotDeactivateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDoNotDeactivateContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Network_And_Function_1.npe5__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Function_or_Network_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_False_To_Do_Not_Deactivate_Contact_0_0</name>
        <label>Assign False To Do Not Deactivate Contact</label>
        <locationX>2096</locationX>
        <locationY>15326</locationY>
        <assignmentItems>
            <assignToReference>doNotDeactivateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDoNotDeactivateContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ASP_Function_or_Network_2_0.npe5__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_False_To_Do_Not_Deactivate_Contact_0_0_0</name>
        <label>Assign False To Do Not Deactivate Contact</label>
        <locationX>2712</locationX>
        <locationY>15326</locationY>
        <assignmentItems>
            <assignToReference>doNotDeactivateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDoNotDeactivateContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ASP_Function_or_Network_2_0.npe5__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_to_Community_User</name>
        <label>Assign Id to Community User</label>
        <locationX>402</locationX>
        <locationY>5678</locationY>
        <assignmentItems>
            <assignToReference>ContactUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Affilaitions_To_Get_Old_Primary_Contact.npe5__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsersToDeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Affilaitions_To_Get_Old_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_to_Community_User_0</name>
        <label>Assign Id to Community User</label>
        <locationX>402</locationX>
        <locationY>13838</locationY>
        <assignmentItems>
            <assignToReference>ContactUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Affilaitions_To_Get_Old_Primary_Contact_0.npe5__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsersToDeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Affilaitions_To_Get_Old_Primary_Contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null_Value_to_the_NewRecord_Variable_0</name>
        <label>Assign Null Value to the NewRecord Variable</label>
        <locationX>314</locationX>
        <locationY>11702</locationY>
        <assignmentItems>
            <assignToReference>NewContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_APS_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null_Values_to_Collection</name>
        <label>Assign Null Values to Collection</label>
        <locationX>402</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>CollectionUsers</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>userRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Affilliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null_Values_to_Collection_0_0</name>
        <label>Assign Null Values to Collection</label>
        <locationX>402</locationX>
        <locationY>13142</locationY>
        <assignmentItems>
            <assignToReference>CollectionUsers</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>userRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Affilliations_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null_Values_to_Variables</name>
        <label>Assign Null Values to Variables</label>
        <locationX>534</locationX>
        <locationY>8246</locationY>
        <assignmentItems>
            <assignToReference>CollectionUsers</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>userRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Affiliation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Contact_0</name>
        <label>Assign Primary Contact</label>
        <locationX>182</locationX>
        <locationY>17078</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.APS_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Affiliation_APS.npe5__Organization__r.APS_Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NAPCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Contact_To_Account</name>
        <label>Assign Primary Contact To Account</label>
        <locationX>182</locationX>
        <locationY>8918</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.npe01__One2OneContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Affiliation.npe5__Organization__r.npe01__One2OneContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NPCEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NBSTR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_CLTH</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>11366</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.Cloth_Diapers_Provided__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Cloth_Diapers_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NAPCT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NADM</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>17846</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.APS_Distribution_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Distribution_Method__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NMSV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NADM_0</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>18182</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.Menstruators_Served_Monthly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Menstruators_Served_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NAPEV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NAPCE</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>17510</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.APS_Primary_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_APS_Primary_Contact_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NADM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NAPEV</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>18518</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.APS_Partner_Agencies_This_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Partner_Agencies_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NPN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NAPTV</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>19190</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.APS_Period_Product_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Product_Types_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NAUP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NAUP</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>19526</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.APS_Units_Per_Individual_Monthly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Units_Per_Individual_Monthly__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NBCT</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NBST</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NBST</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Billing_State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NBZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NBSTR</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NBCT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NBZ</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Billing_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NSS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NPAV</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>10694</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.NDBN_Partner_Agencies_Served_this_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Partner_Agencies_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NWHT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NPAV_0</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>11030</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.Warehouse_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Warehouse_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_CLTH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NPCEM</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>9350</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.Primary_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NPCS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NPCS</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>9686</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.Children_Served_Monthly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Children_Served_Monthly__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NDPCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NPCS_0</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>10022</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.Diapers_Per_Child_Monthly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Diapers_Per_Child_Monthly__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NDMTH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NPCS_0_0</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>10358</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.Distribution_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Distribution_Method__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NPAV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NPN</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>18854</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.APS_Program_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NAPTV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NSC</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Shipping_City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NSST</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NSS</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Shipping_Street__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NSC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NSST</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Shipping_state__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NSZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_To_Record_NSZ</name>
        <label>Assign Value To Record</label>
        <locationX>424</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Shipping_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NPC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VAlues_to_ASP_User_To_Deactivate</name>
        <label>Assign VAlues to ASP User To Deactivate</label>
        <locationX>534</locationX>
        <locationY>16286</locationY>
        <assignmentItems>
            <assignToReference>userRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_to_Update_ASP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecionUser2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_as_inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Networkvariable</name>
        <label>Assign Values to Networkvariable</label>
        <locationX>2008</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>varNetWork1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Function_or_Network_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Networkvariable_0</name>
        <label>Assign Values to Networkvariable</label>
        <locationX>1744</locationX>
        <locationY>14630</locationY>
        <assignmentItems>
            <assignToReference>varNetWork1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_To_Record</name>
        <label>Assign Values To Record</label>
        <locationX>688</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_field_NBSTR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_User_Record</name>
        <label>Assign Values to User Record</label>
        <locationX>402</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>userRecord.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContactRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00e3o000002B6tUAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>America/Los_Angeles</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>assigne_variable_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_User_Record_0</name>
        <label>Assign Values to User Record</label>
        <locationX>402</locationX>
        <locationY>12782</locationY>
        <assignmentItems>
            <assignToReference>userRecord.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alias2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContactRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userName2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00e3o000002B6tUAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>America/Los_Angeles</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Varaible_to_UserRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_To_User_To_Deactivate_0_0</name>
        <label>Assign Values To User To Deactivate</label>
        <locationX>534</locationX>
        <locationY>8006</locationY>
        <assignmentItems>
            <assignToReference>userRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_to_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Varaible_to_UserRecord</name>
        <label>Assign Varaible to UserRecord</label>
        <locationX>402</locationX>
        <locationY>12902</locationY>
        <assignmentItems>
            <assignToReference>CollectionUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_APS_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_to_Function</name>
        <label>Assign Variables to Function</label>
        <locationX>2272</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>varFunction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Function_or_Network_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_to_Function_0</name>
        <label>Assign Variables to Function</label>
        <locationX>2008</locationX>
        <locationY>14630</locationY>
        <assignmentItems>
            <assignToReference>varFunction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigne_variable_new</name>
        <label>assigne variable new</label>
        <locationX>402</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>CollectionUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_DoNotDeactivateVariable</name>
        <label>Clean DoNotDeactivateVariable</label>
        <locationX>314</locationX>
        <locationY>13478</locationY>
        <assignmentItems>
            <assignToReference>varDoNotDeactivateContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Affilaitions_To_Get_Old_Primary_Contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Variable_0</name>
        <label>Clean Variable</label>
        <locationX>314</locationX>
        <locationY>14150</locationY>
        <assignmentItems>
            <assignToReference>varNetWork1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFunction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doNotDeactivateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASP_Network_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Variables</name>
        <label>Clean Variables</label>
        <locationX>2272</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>varNetWork1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFunction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_or_APS_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Variables_0</name>
        <label>Clean Variables</label>
        <locationX>2008</locationX>
        <locationY>14390</locationY>
        <assignmentItems>
            <assignToReference>varNetWork1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFunction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_or_APS_Contact_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deny</name>
        <choiceText>Deny</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deny</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Outcome</name>
        <label>Decision Outcome</label>
        <locationX>765</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Notify_User_Denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changes Denied</defaultConnectorLabel>
        <rules>
            <name>Changes_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproveOrDeny</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Changes Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>function_or_Network_contact</name>
        <label>function or Network contact</label>
        <locationX>2855</locationX>
        <locationY>6590</locationY>
        <defaultConnector>
            <targetReference>Function_or_Network_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Net</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varNetWork1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Function_True1</targetReference>
            </connector>
            <label>Network Found</label>
        </rules>
        <rules>
            <name>Function_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NetWork_true</targetReference>
            </connector>
            <label>Function Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>function_or_Network_contact_0</name>
        <label>function or Network contact</label>
        <locationX>2855</locationX>
        <locationY>14966</locationY>
        <defaultConnector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Net_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNetWork1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Function_True1_0</targetReference>
            </connector>
            <label>Network Found</label>
        </rules>
        <rules>
            <name>Function_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NetWork_true_0</targetReference>
            </connector>
            <label>Function Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Function_True1</name>
        <label>Function = True</label>
        <locationX>2382</locationX>
        <locationY>6710</locationY>
        <defaultConnector>
            <targetReference>Function_or_Network_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Function_or_Network_2.Function__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APS Program Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Contact_Id</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Function_True1_0</name>
        <label>Function = True</label>
        <locationX>2382</locationX>
        <locationY>15086</locationY>
        <defaultConnector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASP_Function_or_Network_2_0.Function__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APS Program Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Contact_Id_0_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Affilai</name>
        <label>Find APS</label>
        <locationX>314</locationX>
        <locationY>16838</locationY>
        <defaultConnector>
            <targetReference>Update_field_NAPCE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_APS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Affiliation_APS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Function_Field</targetReference>
            </connector>
            <label>Found APS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_User_Null</name>
        <label>Get User Null?</label>
        <locationX>446</locationX>
        <locationY>7886</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_To_User_To_Deactivate_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Null_NetworkRole</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDoNotDeactivateContactId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_User_to_Update.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_to_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Affiliation</targetReference>
            </connector>
            <label>User Null NetworkRole</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Afilliation_Not_Nul</name>
        <label>If Afilliation Not Nul</label>
        <locationX>314</locationX>
        <locationY>8678</locationY>
        <defaultConnector>
            <targetReference>Update_field_NPCEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Affiliation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Affiliation</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>NetWork_true</name>
        <label>NetWork = True</label>
        <locationX>2998</locationX>
        <locationY>6710</locationY>
        <defaultConnector>
            <targetReference>Function_or_Network_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Network_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Function_or_Network_2.Network_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Contact_Id_0</targetReference>
            </connector>
            <label>Network is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>NetWork_true_0</name>
        <label>NetWork = True</label>
        <locationX>2998</locationX>
        <locationY>15086</locationY>
        <defaultConnector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Network_is_true_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASP_Network_Loop.Network_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Contact_Id_0_0_0</targetReference>
            </connector>
            <label>Network is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_ASP_Primary_Contact_Null</name>
        <label>New ASP Primary Contact Null?</label>
        <locationX>314</locationX>
        <locationY>11942</locationY>
        <defaultConnector>
            <targetReference>Get_Community_User_APS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewContactRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_ASP_Primary_Contact_0</targetReference>
            </connector>
            <label>Yes, Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact_Already_A_Community_User</name>
        <label>new Contact Already A Community User</label>
        <locationX>314</locationX>
        <locationY>4622</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_An_Active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Community_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Community_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Affilliations</targetReference>
            </connector>
            <label>Yes, An Active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact_Already_A_Community_User_0</name>
        <label>new Contact Already A Community User</label>
        <locationX>314</locationX>
        <locationY>12662</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_An_Active_User_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Community_User_APS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Community_User_APS.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Affilliations_0</targetReference>
            </connector>
            <label>Yes, An Active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Primary_Contact_Null</name>
        <label>New Primary Contact Null?</label>
        <locationX>314</locationX>
        <locationY>3902</locationY>
        <defaultConnector>
            <targetReference>Get_Community_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact_Record_0</targetReference>
            </connector>
            <label>Yes, Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Email</name>
        <label>Null Email ?</label>
        <locationX>556</locationX>
        <locationY>20102</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Primary_Contact</name>
        <label>Old Primary Contact</label>
        <locationX>534</locationX>
        <locationY>5558</locationY>
        <defaultConnector>
            <targetReference>Loop_Affilaitions_To_Get_Old_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Affilaitions_To_Get_Old_Primary_Contact.Network_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_to_Community_User</targetReference>
            </connector>
            <label>Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Primary_Contact_0</name>
        <label>Old Primary Contact</label>
        <locationX>534</locationX>
        <locationY>13718</locationY>
        <defaultConnector>
            <targetReference>Loop_Affilaitions_To_Get_Old_Primary_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Affilaitions_To_Get_Old_Primary_Contact_0.Function__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APS Program Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_to_Community_User_0</targetReference>
            </connector>
            <label>Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_APS_Contact</name>
        <label>Primary or APS Contact</label>
        <locationX>2272</locationX>
        <locationY>6230</locationY>
        <defaultConnector>
            <targetReference>Loop_Network_And_Function_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NetWorTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Network_And_Function_1.Network_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Networkvariable</targetReference>
            </connector>
            <label>NetWork True</label>
        </rules>
        <rules>
            <name>Function_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Network_And_Function_1.Function__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APS Program Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_to_Function</targetReference>
            </connector>
            <label>Function True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_APS_Contact_0</name>
        <label>Primary or APS Contact</label>
        <locationX>2008</locationX>
        <locationY>14510</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ASP_Network_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NetWorTrue_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ASP_Network_Loop.Network_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Networkvariable_0</targetReference>
            </connector>
            <label>NetWork True</label>
        </rules>
        <rules>
            <name>Function_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASP_Network_Loop.Function__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APS Program Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_to_Function_0</targetReference>
            </connector>
            <label>Function True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Contact_Id</name>
        <label>Same Contact Id</label>
        <locationX>2228</locationX>
        <locationY>6830</locationY>
        <defaultConnector>
            <targetReference>Function_or_Network_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Network_And_Function_1.npe5__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Function_or_Network_2.npe5__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_To_Do_Not_Deactivate_Contact</targetReference>
            </connector>
            <label>Same Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Contact_Id_0</name>
        <label>Same Contact Id</label>
        <locationX>2844</locationX>
        <locationY>6830</locationY>
        <defaultConnector>
            <targetReference>Function_or_Network_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Network_And_Function_1.npe5__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Function_or_Network_2.npe5__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_To_Do_Not_Deactivate_Contact_0</targetReference>
            </connector>
            <label>Same Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Contact_Id_0_0</name>
        <label>Same Contact Id</label>
        <locationX>2228</locationX>
        <locationY>15206</locationY>
        <defaultConnector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Contact_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASP_Network_Loop.npe5__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ASP_Function_or_Network_2_0.npe5__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_To_Do_Not_Deactivate_Contact_0_0</targetReference>
            </connector>
            <label>Same Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Contact_Id_0_0_0</name>
        <label>Same Contact Id</label>
        <locationX>2844</locationX>
        <locationY>15206</locationY>
        <defaultConnector>
            <targetReference>ASP_Function_or_Network_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Contact_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASP_Function_or_Network_2_0.npe5__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ASP_Network_Loop.npe5__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_To_Do_Not_Deactivate_Contact_0_0_0</targetReference>
            </connector>
            <label>Same Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Field</name>
        <label>Update Field?</label>
        <locationX>556</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_To_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record</targetReference>
            </connector>
            <label>New Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_CLTH</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>11246</locationY>
        <defaultConnector>
            <targetReference>Update_field_NAPCT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Cloth_Diapers_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Cloth_Diapers_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_CLTH</targetReference>
            </connector>
            <label>New Cloth Diapers Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NADM</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>17726</locationY>
        <defaultConnector>
            <targetReference>Update_field_NMSV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_APS_Distribution_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_APS_Distribution_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NADM</targetReference>
            </connector>
            <label>New APS Distribution Method</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NAPCE</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>17390</locationY>
        <defaultConnector>
            <targetReference>Update_field_NADM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_APS_Primary_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_APS_Primary_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NAPCE</targetReference>
            </connector>
            <label>New APS Primary Contact Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NAPCT</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>11582</locationY>
        <defaultConnector>
            <targetReference>Update_field_NAPCE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Aps_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_APS_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Null_Value_to_the_NewRecord_Variable_0</targetReference>
            </connector>
            <label>New Aps Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NAPEV</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>18398</locationY>
        <defaultConnector>
            <targetReference>Update_field_NPN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_APS_Partner_Agencies_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_APS_Partner_Agencies_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NAPEV</targetReference>
            </connector>
            <label>New APS Partner Agencies Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NAPTV</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>19070</locationY>
        <defaultConnector>
            <targetReference>Update_field_NAUP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_APS_Product_Types_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_APS_Product_Types_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NAPTV</targetReference>
            </connector>
            <label>New APS Product Types Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NAUP</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>19406</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_APS_Units_Per_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_APS_Units_Per_Individual_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NAUP</targetReference>
            </connector>
            <label>New APS Units Per Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NBCT</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_field_NBST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Billing_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Billing_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NBCT</targetReference>
            </connector>
            <label>New Billing City</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NBST</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Update_field_NBZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Billing_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Billing_State__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NBST</targetReference>
            </connector>
            <label>New Billing State</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NBSTR</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update_field_NBCT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Billing_Street</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Billing_Street__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NBSTR</targetReference>
            </connector>
            <label>New Billing Street</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NBZ</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Update_field_NSS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Billing_State_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Billing_Zip__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NBZ</targetReference>
            </connector>
            <label>New Billing Zip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NDMTH</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>10238</locationY>
        <defaultConnector>
            <targetReference>Update_field_NPAV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Distribution_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Distribution_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NPCS_0_0</targetReference>
            </connector>
            <label>New Distribution Method</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NDPCM</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>9902</locationY>
        <defaultConnector>
            <targetReference>Update_field_NDMTH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Diaper_Per_Child_Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Diapers_Per_Child_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NPCS_0</targetReference>
            </connector>
            <label>New Diaper Per Child Monthly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NMSV</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>18062</locationY>
        <defaultConnector>
            <targetReference>Update_field_NAPEV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Menstruators_Served_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Menstruators_Served_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NADM_0</targetReference>
            </connector>
            <label>New Menstruators Served Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NPAV</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>10574</locationY>
        <defaultConnector>
            <targetReference>Update_field_NWHT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Partner_Agencies_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Partner_Agencies_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NPAV</targetReference>
            </connector>
            <label>New Partner Agencies Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NPC</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>3662</locationY>
        <defaultConnector>
            <targetReference>Update_field_NPCEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>New Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NPCEM</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>9230</locationY>
        <defaultConnector>
            <targetReference>Update_field_NPCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Primary_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Primary_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NPCEM</targetReference>
            </connector>
            <label>New Primary Contact Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NPCS</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>9566</locationY>
        <defaultConnector>
            <targetReference>Update_field_NDPCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Children_Served_Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Children_Served_Monthly__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NPCS</targetReference>
            </connector>
            <label>New Children Served Monthly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NPN</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>18734</locationY>
        <defaultConnector>
            <targetReference>Update_field_NAPTV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_APS_Program_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_APS_Program_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NPN</targetReference>
            </connector>
            <label>New APS Program Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NSC</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Update_field_NSST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Shipping_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAccountRecord.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NSC</targetReference>
            </connector>
            <label>New Shipping City</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NSS</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Update_field_NSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Shipping_Street</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Shipping_Street__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NSS</targetReference>
            </connector>
            <label>New Shipping Street</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NSST</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Update_field_NSZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Shipping_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Shipping_state__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NSST</targetReference>
            </connector>
            <label>New Shipping State</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NSZ</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Update_field_NPC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Shipping_Zip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Shipping_Zip__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NSZ</targetReference>
            </connector>
            <label>New Shipping Zip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_field_NWHT</name>
        <label>Update field?</label>
        <locationX>556</locationX>
        <locationY>10910</locationY>
        <defaultConnector>
            <targetReference>Update_field_CLTH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Warehouse_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AER_Record.New_Warehouse_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_To_Record_NPAV_0</targetReference>
            </connector>
            <label>New Warehouse Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Id_Null</name>
        <label>User Id Null?</label>
        <locationX>314</locationX>
        <locationY>7646</locationY>
        <defaultConnector>
            <targetReference>Get_User_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Affiliation</targetReference>
            </connector>
            <label>User Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Id_Null_0</name>
        <label>User Id Null?</label>
        <locationX>314</locationX>
        <locationY>15926</locationY>
        <defaultConnector>
            <targetReference>Get_User_to_Update_ASP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Null_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Affiliation_APS</targetReference>
            </connector>
            <label>User Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_to_Update_Null</name>
        <label>User to Update Null</label>
        <locationX>446</locationX>
        <locationY>16166</locationY>
        <defaultConnector>
            <targetReference>Assign_VAlues_to_ASP_User_To_Deactivate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDoNotDeactivateContactId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_User_to_Update_ASP.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_to_Update_ASP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Affiliation_APS</targetReference>
            </connector>
            <label>Null User</label>
        </rules>
    </decisions>
    <description>Dev Version 6/7/22
MM 6/22/22 - Update APS Primary Contact node with correct picklist value. Changed from APS Program Manager to APS Primary Contact.</description>
    <environments>Default</environments>
    <formulas>
        <name>alias</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_AER_Record.New_Primary_Contact_Last_Name__c}+TEXT({!$Flow.CurrentDate}), 8)</expression>
    </formulas>
    <formulas>
        <name>alias2</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_AER_Record.New_APS_Primary_Contact_Email__c}+TEXT({!$Flow.CurrentDate}), 8)</expression>
    </formulas>
    <formulas>
        <name>DenialValidation</name>
        <dataType>Boolean</dataType>
        <expression>AND( ISBLANK( {!Denial_Reason} ),  NOT( ISBLANK( {!Deny})) )</expression>
    </formulas>
    <formulas>
        <name>userName</name>
        <dataType>String</dataType>
        <expression>{!Get_AER_Record.New_Primary_Contact_Email__c}+ LEFT({!Get_AER_Record.New_Primary_Contact_Last_Name__c} + TEXT({!$Flow.CurrentDate}), 8)</expression>
    </formulas>
    <formulas>
        <name>userName2</name>
        <dataType>String</dataType>
        <expression>{!Get_AER_Record.New_APS_Primary_Contact_Email__c}+ LEFT({!Get_AER_Record.New_APS_Primary_Contact_Last_Name__c}+ TEXT({!$Flow.CurrentDate}), 8)</expression>
    </formulas>
    <interviewLabel>Account Edit Requests - Pt 3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Edit Requests - Pt 3</label>
    <loops>
        <name>ASP_Function_or_Network_2_0</name>
        <label>ASP_Function or Network 2</label>
        <locationX>2008</locationX>
        <locationY>14846</locationY>
        <collectionReference>Get_All_Affilliations_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>function_or_Network_contact_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ASP_Network_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ASP_Network_Loop</name>
        <label>ASP Network Loop</label>
        <locationX>314</locationX>
        <locationY>14270</locationY>
        <collectionReference>Get_All_Affilliations_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clean_Variables_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>User_Id_Null_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Function_or_Network_2</name>
        <label>Function or Network 2</label>
        <locationX>2008</locationX>
        <locationY>6470</locationY>
        <collectionReference>Get_All_Affilliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>function_or_Network_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Network_And_Function_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Affilaitions_To_Get_Old_Primary_Contact</name>
        <label>Loop Affilaitions To Get Old Primary Contact</label>
        <locationX>314</locationX>
        <locationY>5438</locationY>
        <collectionReference>Get_All_Affilliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Old_Primary_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Network_And_Function_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Affilaitions_To_Get_Old_Primary_Contact_0</name>
        <label>Loop Affilaitions To Get Old Primary Contact</label>
        <locationX>314</locationX>
        <locationY>13598</locationY>
        <collectionReference>Get_All_Affilliations_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Old_Primary_Contact_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clean_Variable_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Network_And_Function_1</name>
        <label>Loop Network And Function 1</label>
        <locationX>314</locationX>
        <locationY>5990</locationY>
        <collectionReference>Get_All_Affilliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clean_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>User_Id_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_ASP_Primary_Contact_0</name>
        <label>New ASP Primary Contact</label>
        <locationX>50</locationX>
        <locationY>12062</locationY>
        <assignRecordIdToReference>NewContactRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Community_User_APS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>New_Contact_Record_0</name>
        <label>New Contact Record</label>
        <locationX>50</locationX>
        <locationY>4022</locationY>
        <assignRecordIdToReference>NewContactRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Community_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_path_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>556</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AER_Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AER_Record</name>
        <label>Get AER Record</label>
        <locationX>765</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Edit_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Affiliation</name>
        <label>Get Affiliation</label>
        <locationX>314</locationX>
        <locationY>8558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Afilliation_Not_Nul</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewContactRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Affiliation_APS</name>
        <label>Get Affiliation APS</label>
        <locationX>314</locationX>
        <locationY>16718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Affilai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewContactRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Affilliations</name>
        <label>Get All Affilliations</label>
        <locationX>314</locationX>
        <locationY>5318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Affilaitions_To_Get_Old_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AER_Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Affilliations_0</name>
        <label>Get All Affilliations</label>
        <locationX>314</locationX>
        <locationY>13358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clean_DoNotDeactivateVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_APS_Contact</name>
        <label>Get APS Contact</label>
        <locationX>314</locationX>
        <locationY>11822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_ASP_Primary_Contact_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AER_Record.New_APS_Primary_Contact_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>NewContactRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Community_User</name>
        <label>Get Community User</label>
        <locationX>314</locationX>
        <locationY>4502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Contact_Already_A_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewContactRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Community_User_APS</name>
        <label>Get Community User APS</label>
        <locationX>314</locationX>
        <locationY>12542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Contact_Already_A_Community_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewContactRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>3782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Primary_Contact_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AER_Record.New_Primary_Contact_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>NewContactRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_to_Update</name>
        <label>Get User to Update</label>
        <locationX>446</locationX>
        <locationY>7766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.npe01__One2OneContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_to_Update_ASP</name>
        <label>Get User to Update APS</label>
        <locationX>446</locationX>
        <locationY>16046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_to_Update_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.APS_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>556</locationX>
        <locationY>19742</locationY>
        <connector>
            <targetReference>Update_AER_Record_Status_Approved_0</targetReference>
        </connector>
        <inputReference>UpdateAccountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AER_Record_Status_Approved_0</name>
        <label>Update AER Record Status - Approved</label>
        <locationX>556</locationX>
        <locationY>19862</locationY>
        <connector>
            <targetReference>Assign_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Edit_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AER_Record_Status_Denied</name>
        <label>Update AER Record Status - Denied</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <inputReference>Get_AER_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Affiliation</name>
        <label>Update Affiliation</label>
        <locationX>182</locationX>
        <locationY>8798</locationY>
        <connector>
            <targetReference>Assign_Primary_Contact_To_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Affiliation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Network_Role__c</field>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </inputAssignments>
        <object>npe5__Affiliation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Function_Field</name>
        <label>Update the Function Field</label>
        <locationX>182</locationX>
        <locationY>16958</locationY>
        <connector>
            <targetReference>Assign_Primary_Contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Affiliation_APS.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <stringValue>APS Program Manager</stringValue>
            </value>
        </inputAssignments>
        <object>npe5__Affiliation__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Approval_Screen_1</name>
        <label>Approval Screen 1</label>
        <locationX>765</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Outcome</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(4, 92, 124);&quot;&gt;Please indicate approval or denial of the proposed changes. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(4, 92, 124);&quot;&gt;Approval will commit the edits to the related account record immediately. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(4, 92, 124);&quot;&gt;Denial will leave the related account unchanged. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApproveOrDeny</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Deny</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ApproveOrDeny</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Denial_Reason</name>
            <fieldText>Denial Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApproveOrDeny</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Deny</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>12182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif; font-size: 18px; color: rgb(250, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fail_path_Screen</name>
        <label>Fail path Screen</label>
        <locationX>314</locationX>
        <locationY>4142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DispalyError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif; font-size: 18px; color: rgb(237, 4, 4);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>556</locationX>
        <locationY>20438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sucessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;The account has been updated!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>639</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AER_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Account_Edit_Request_Id_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collecionUser2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CollectionUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ContactUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeactivatingUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>doNotDeactivateContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varAffiliationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionUserNull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDoNotDeactivateContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFunction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varNetWork1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varUsersToDeactivate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
