force-app/main/default/flows/Changed_Prefferred_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <description>A preferred address can not be marked inactive</description>
        <name>Inactive_record</name>
        <label>Inactive record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>A preferred address cannot be marked Inactive. Mark the record Active or create a new record{!$Record.Preferred_or_Qualifying_Ship_to_Address__c}</errorMessage>
            <fieldSelection>Inactive__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_if_marked_Inactive</name>
        <label>check if marked Inactive</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Find_other_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marked_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_record</targetReference>
            </connector>
            <label>Marked Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Prefferred_field_has_changed</name>
        <label>Check if Prefferred field has changed</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Deactivate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Preferred_Field_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_or_Qualifying_Ship_to_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_if_marked_Inactive</targetReference>
            </connector>
            <label>Preferred Field changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deactivate</name>
        <label>Deactivate</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Remain activated</defaultConnectorLabel>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Deactived_date</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Changed Prefferred Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Changed Prefferred Address</label>
    <loops>
        <name>Read_Members_Addresses</name>
        <label>Read Members Addresses</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>Find_other_Addresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_field_to_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Shipping_address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_other_Addresses</name>
        <label>Find other Addresses</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Read_Members_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ship_To_Addresses__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_field_to_False</name>
        <label>Change field to False</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Read_Members_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Read_Members_Addresses.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Preferred_or_Qualifying_Ship_to_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_or_Qualifying_Ship_to_Address__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Ship_To_Addresses__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enter_Deactived_date</name>
        <label>Enter Deactived date</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Inactive_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Shipping_address</name>
        <label>Update Account Shipping address</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bay_Fits_53_ft_Truck_Back_up__c</field>
            <value>
                <elementReference>$Record.Bay_Fits_53_ft_Truck__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loading_Dock_or_Forklift_AnSv__c</field>
            <value>
                <elementReference>$Record.Loading_Dock_or_Forklift__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Shipping_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse_Type__c</field>
            <value>
                <elementReference>$Record.Storage_Space_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Prefferred_field_has_changed</targetReference>
        </connector>
        <object>Ship_To_Addresses__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
