force-app/main/default/flows/Membership_Dues_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Grace_Period_Ends_This_Month_Notifications</name>
        <label>Email Grace Period Ends This Month Notifications</label>
        <locationX>3346</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Lapsed_Membership_Notifications.Account.Primary_Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@diaperbanknetwork.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Grace Period Ends This Month</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_March9thGracePeriodEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Grace_Period_Ends_This_Week_Notifications</name>
        <label>Email Grace Period Ends This Week Notifications</label>
        <locationX>3874</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Lapsed_Membership_Notifications.Account.Primary_Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@diaperbanknetwork.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Grace Period Ends This Week</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_March24thGracePeriodEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Grace_Period_Started_Notifications</name>
        <label>Email Grace Period Started Notifications</label>
        <locationX>2818</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Lapsed_Membership_Notifications.Account.Primary_Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@diaperbanknetwork.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Grace Period Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_GracePeriodJanuary2ndEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Lapsed_Membership_Notifications</name>
        <label>Email Lapsed Membership Notifications</label>
        <locationX>4402</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunities</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Lapsed_Membership_Notifications.Account.Primary_Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@diaperbanknetwork.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lapsed Membership Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_April1stLapsedMembershipEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Renewal_Upcoming_Expiration_Notifications</name>
        <label>Email Renewal/Upcoming Expiration Notifications</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Renewal_Upcoming_Expiration_Notifications</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Renewal_Upcoming_Expiration_Notifications</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Renewal_Upcoming_Expiration_Notifications.Primary_Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@diaperbanknetwork.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Renewal/Upcoming Expiration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_December1stRenewalUpcomingExpirationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>con_MembershipOpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012d0000000bsQ9AAI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Date</name>
        <label>Date?</label>
        <locationX>3874</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>January_2nd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_January2nd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Grace_Period_Started_Notifications</targetReference>
            </connector>
            <label>January 2nd</label>
        </rules>
        <rules>
            <name>March_9th</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_March9th</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Grace_Period_Ends_This_Month_Notifications</targetReference>
            </connector>
            <label>March 9th</label>
        </rules>
        <rules>
            <name>March_24th</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_March24th</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Grace_Period_Ends_This_Week_Notifications</targetReference>
            </connector>
            <label>March 24th</label>
        </rules>
        <rules>
            <name>April_1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_April1st</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Lapsed_Membership_Notifications</targetReference>
            </connector>
            <label>April 1st</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month</name>
        <label>Month?</label>
        <locationX>1522</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Decemeber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_December1st</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Active_Portal_Account_12_1</targetReference>
            </connector>
            <label>Decemeber</label>
        </rules>
        <rules>
            <name>January_to_April</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_January2nd</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_March9th</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_March24th</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>for_April1st</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Open_Membership_Opportunities</targetReference>
            </connector>
            <label>January to April</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for_April1st</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), 4, 1)</expression>
    </formulas>
    <formulas>
        <name>for_BeginningOfThisYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <formulas>
        <name>for_December1st</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), 12, 1)</expression>
    </formulas>
    <formulas>
        <name>for_EndOfThisYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>for_January2nd</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), 1, 2)</expression>
    </formulas>
    <formulas>
        <name>for_LastYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(ADDMONTHS({!$Flow.CurrentDate}, -12)))</expression>
    </formulas>
    <formulas>
        <name>for_March24th</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), 3, 24)</expression>
    </formulas>
    <formulas>
        <name>for_March9th</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), 3, 9)</expression>
    </formulas>
    <formulas>
        <name>for_ThisYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Membership Dues Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Dues Notifications</label>
    <loops>
        <name>Lapsed_Membership_Notifications</name>
        <label>Lapsed Membership Notifications</label>
        <locationX>2730</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_All_Open_Membership_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Date</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Renewal_Upcoming_Expiration_Notifications</name>
        <label>Renewal/Upcoming Expiration Notifications</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_All_Active_Portal_Account_12_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Renewal_Upcoming_Expiration_Notifications</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Active_Portal_Account_12_1</name>
        <label>Get All Active Portal Account</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Upcoming_Expiration_Notifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Portal_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Primary_Contact_Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Open_Membership_Opportunities</name>
        <label>Get All Open Membership Opportunities</label>
        <locationX>2730</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>con_MembershipOpportunityRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Membership_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_EndOfThisYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Account_for_Review</name>
        <label>Set Account for Review</label>
        <locationX>4402</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Lapsed_Membership_Notifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lapsed_Membership_Notifications.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Review_Membership__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>4402</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Set_Account_for_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lapsed_Membership_Notifications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVSFQB__Generate_Object__c</field>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1396</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Month</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-11</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>txt_April1stLapsedMembershipEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Lapsed_Membership_Notifications.Account.Name},&lt;/p&gt;&lt;p&gt;This email is notify you that your membership with the National Diaper Bank Network and Alliance for Period Supplies, has lapsed as of &lt;strong&gt;December 31st, {!for_LastYear}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;If you would like to rejoin APS and/or the National Diaper Bank Network, please email programs@diaperbanknetwork.org.&lt;/p&gt;&lt;p&gt;We encourage you to renew your membership to continue taking advantage of the member exclusive benefits offered.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_December1stRenewalUpcomingExpirationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Renewal_Upcoming_Expiration_Notifications.Name},&lt;/p&gt;&lt;p&gt;On behalf of both the Alliance for Period Supplies and the National Diaper Bank Network, your membership is important and very much appreciated.&lt;/p&gt;&lt;p&gt;We know how busy you are running your program, so we wanted to take this opportunity to remind you that your membership will expire on &lt;strong&gt;December 31st, {!for_ThisYear}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Please submit your membership dues at your earliest convenience in order to remain part of our community. It couldn&apos;t be easier - &lt;strong&gt;just click the link in the invoice you receive via email today.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your financial contributions truly are vital to creating more robust programs and resources, and so is your membership. Your membership creates the strong, vibrant community that the Network has become.&lt;/p&gt;&lt;p&gt;We look forward to working with you in the year to come.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;National Diaper Bank Network&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_GracePeriodJanuary2ndEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Lapsed_Membership_Notifications.Account.Name},&lt;/p&gt;&lt;p&gt;This is a reminder that your NDBN or APS membership expired on &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;December 31st, &lt;/strong&gt;&lt;strong&gt;{!for_LastYear}&lt;/strong&gt;, and you are now within your membership grace period.&lt;/p&gt;&lt;p&gt;We hope that you will take the time to renew your membership and remain part of our community. It couldn&apos;t be easier - &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;just click the link in the invoice you receive via email today.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your financial contributions truly are vital to our existence, but so is your membership. Please renew by submitting the renewal form or take a moment to let us know why you have chosen not to renew. Having this feedback helps our team do better for the member network and the mission we serve.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_March24thGracePeriodEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Lapsed_Membership_Notifications.Account.Name},&lt;/p&gt;&lt;p&gt;This is a reminder that your NDBN or APS membership expired on &lt;strong&gt;December 31st, {!for_LastYear}&lt;/strong&gt;, and you’re membership grace period ends in seven days.&lt;/p&gt;&lt;p&gt;We hope that you will take the time to renew your membership and remain part of our community. It couldn&apos;t be easier - &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;just click the link in the invoice you receive via email today.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your financial contributions truly are vital to our existence, but so is your membership. Please renew by submitting the renewal form or take a moment to let us know why you have chosen not to renew. Having this feedback helps our team do better for the member network and the mission we serve.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_March9thGracePeriodEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Lapsed_Membership_Notifications.Account.Name},&lt;/p&gt;&lt;p&gt;This is a reminder that your NDBN or APS membership expired on &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;December 31st, {!for_LastYear}&lt;/strong&gt;, and you’re membership grace period ends this month.&lt;/p&gt;&lt;p&gt;We hope that you will take the time to renew your membership and remain part of our community. It couldn&apos;t be easier - &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;just click the link in the invoice you receive via email today.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your financial contributions truly are vital to our existence, but so is your membership. Please renew by submitting the renewal form or take a moment to let us know why you have chosen not to renew. Having this feedback helps our team do better for the member network and the mission we serve.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
