force-app/main/default/flows/One_time_Overall_member_type_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>A_Diaper_Bank_Member</name>
        <label>A Diaper Bank Member</label>
        <locationX>997</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Set_Overall_Type_to_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not A Diaper Bank Member</defaultConnectorLabel>
        <rules>
            <name>Yes_A_Diaper_Bank_Member</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NDBN_Member_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Certified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NDBN_Member_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Established</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NDBN_Member_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sustaining</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allied_Member</targetReference>
            </connector>
            <label>Yes A Diaper Bank Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allied_Member</name>
        <label>Allied Member</label>
        <locationX>853</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>Set_to_Diaper_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not an Allied Member</defaultConnectorLabel>
        <rules>
            <name>Yes_an_Allied_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APS_Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allied Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Overall_Member_Type_to_Both</targetReference>
            </connector>
            <label>Yes an Allied Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_APS_Only</name>
        <label>Is APS Only</label>
        <locationX>737</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>A_Diaper_Bank_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not APS Only</defaultConnectorLabel>
        <rules>
            <name>APS_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NDBN_Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APS only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Overall_Member_Type_to_APS_Only</targetReference>
            </connector>
            <label>APS Only</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>One time Overall member type update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One time Overall member type update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Overall_Member_Type_to_APS_Only</name>
        <label>Set Overall Member Type to APS Only</label>
        <locationX>558</locationX>
        <locationY>407</locationY>
        <inputAssignments>
            <field>Diaper_Bank_Member_Type__c</field>
            <value>
                <elementReference>$Record.NDBN_Member_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Member_Type__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Overall_Member_Type_to_Both</name>
        <label>Set Overall Member Type to Both</label>
        <locationX>646</locationX>
        <locationY>660</locationY>
        <inputAssignments>
            <field>Diaper_Bank_Member_Type__c</field>
            <value>
                <elementReference>$Record.NDBN_Member_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Member_Type__c</field>
            <value>
                <elementReference>BothMemberType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Overall_Type_to_Blank</name>
        <label>Set Overall Type to Blank</label>
        <locationX>1222</locationX>
        <locationY>489</locationY>
        <inputAssignments>
            <field>Diaper_Bank_Member_Type__c</field>
            <value>
                <elementReference>$Record.NDBN_Member_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Member_Type__c</field>
            <value>
                <elementReference>Spaces</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Diaper_Only</name>
        <label>Set to Diaper Only</label>
        <locationX>1006</locationX>
        <locationY>672</locationY>
        <inputAssignments>
            <field>Diaper_Bank_Member_Type__c</field>
            <value>
                <elementReference>$Record.NDBN_Member_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Member_Type__c</field>
            <value>
                <elementReference>DiaperOnly</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_APS_Only</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NDBN_Member_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APS only</stringValue>
            </value>
        </filters>
        <filters>
            <field>NDBN_Member_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certified</stringValue>
            </value>
        </filters>
        <filters>
            <field>NDBN_Member_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sustaining</stringValue>
            </value>
        </filters>
        <filters>
            <field>NDBN_Member_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Established</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-02-26</startDate>
            <startTime>19:03:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AlliedMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Allied Member</stringValue>
        </value>
    </variables>
    <variables>
        <name>APSOnly</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>APS Only</stringValue>
        </value>
    </variables>
    <variables>
        <name>BothMemberType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Both Member Type</stringValue>
        </value>
    </variables>
    <variables>
        <name>DiaperOnly</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Diaper Banks Only</stringValue>
        </value>
    </variables>
    <variables>
        <name>Spaces</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
</Flow>
