force-app/main/default/flows/Prototype_Approvals_II.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Field_Values_DB</name>
        <label>Assign PL Values - DB</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Distribution_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PLChcSet_DistMethod_NDBN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Warehouse_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PLChcSet_WH_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Partner_Agencies_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPD_DBPartner_Agencies_Served_Yearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_DB_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>APSDetails</name>
        <choiceText>Organization and/or Period Supply Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Organization and/or Period Supply Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_DiaperBankDetails</name>
        <choiceText>Organization and/or Diaper Program Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Organization and/or Diaper Program Information</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Program_Choice</name>
        <label>Program Choice</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Data_APS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Choice = APS</defaultConnectorLabel>
        <rules>
            <name>Choice_DB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_submitting_changes_for_Diaper_Bank_or_APS_details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_DiaperBankDetails</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Data_DB</targetReference>
            </connector>
            <label>Choice = DB</label>
        </rules>
    </decisions>
    <description>Contains Rebuilt decision tree (Avelino&apos;s version)</description>
    <dynamicChoiceSets>
        <name>MSPLChcSet_APSProductTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APS_Period_Product_Types__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PklstChcSet_APSDistMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APS_Distribution_Method__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PLChcSet_DistMethod_NDBN</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distribution_Method__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PLChcSet_WH_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Warehouse_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserAcctId</name>
        <dataType>String</dataType>
        <expression>{!$User.Account__c}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Prototype Approvals II {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prototype Approvals II</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_DB_Record</name>
        <label>Create DB Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Confirm_DB_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$User.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_City__c</field>
            <value>
                <elementReference>UPDAddress_DB.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_State__c</field>
            <value>
                <elementReference>UPDAddress_DB.inputProvinceOptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_Street__c</field>
            <value>
                <elementReference>UPDAddress_DB.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_Zip__c</field>
            <value>
                <elementReference>UPDAddress_DB.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Children_Served_Monthly__c</field>
            <value>
                <elementReference>VAR_Acct_Edit_Req.New_Children_Served_Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Cloth_Diapers_Value__c</field>
            <value>
                <elementReference>UPDCloth_Diapers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Diapers_Per_Child_Monthly__c</field>
            <value>
                <elementReference>VAR_Acct_Edit_Req.New_Diapers_Per_Child_Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Distribution_Method__c</field>
            <value>
                <elementReference>VAR_Acct_Edit_Req.New_Distribution_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Partner_Agencies_Value__c</field>
            <value>
                <elementReference>VAR_Acct_Edit_Req.New_Partner_Agencies_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Phone__c</field>
            <value>
                <elementReference>UPDPhone_DB.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Primary_Contact_Email__c</field>
            <value>
                <elementReference>UPDEmail_DB.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Primary_Contact__c</field>
            <value>
                <elementReference>UPDPrimary_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>UPD_ShpAdds_APS.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>UPD_ShpAdds_APS.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Zip__c</field>
            <value>
                <elementReference>UPD_ShpAdds_APS.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_state__c</field>
            <value>
                <elementReference>UPD_ShpAdds_APS.inputProvinceOptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Edit_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_APS</name>
        <label>Create Record - APS</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Confirm_APS_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$User.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Distribution_Method__c</field>
            <value>
                <elementReference>UPDAPS_Distribution_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Primary_Contact__c</field>
            <value>
                <elementReference>UPD_APSPrimary_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Product_Types_Value__c</field>
            <value>
                <elementReference>UPD_Period_Product_Types</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Program_Name__c</field>
            <value>
                <elementReference>VAR_Acct_Edit_Req.New_APS_Program_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Units_Per_Individual_Monthly__c</field>
            <value>
                <elementReference>VAR_Acct_Edit_Req.New_APS_Units_Per_Individual_Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_City__c</field>
            <value>
                <elementReference>UPD_BillAdds_APS.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_State__c</field>
            <value>
                <elementReference>UPD_BillAdds_APS.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_Street__c</field>
            <value>
                <elementReference>UPD_BillAdds_APS.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_Zip__c</field>
            <value>
                <elementReference>UPD_BillAdds_APS.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Menstruators_Served_Value__c</field>
            <value>
                <elementReference>VAR_Acct_Edit_Req.New_Menstruators_Served_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Phone__c</field>
            <value>
                <elementReference>APSPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>UPD_ShpAdds_APS.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>UPD_ShpAdds_APS.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Zip__c</field>
            <value>
                <elementReference>UPD_ShpAdds_APS.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_state__c</field>
            <value>
                <elementReference>UPD_ShpAdds_APS.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Edit_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Data_APS</name>
        <label>Get Contact Data - APS</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APS_Update_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Data_DB</name>
        <label>Get Contact Data - DB</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DB_Update_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>APS_Update_Screen</name>
        <label>APS Update Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_APS</targetReference>
        </connector>
        <fields>
            <name>UpdateInstructions_APS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(42, 126, 228);&quot;&gt;Please enter information only for the data you would like to change. If no changes are needed for a particular field leave it blank. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UPD_APSPrimary_Contact</name>
            <dataType>String</dataType>
            <fieldText>APS Primary Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APSPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UPD_BillAdds_APS</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UPD_ShpAdds_APS</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>VAR_Acct_Edit_Req.New_APS_Program_Name__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>VAR_Acct_Edit_Req.New_Menstruators_Served_Value__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>VAR_Acct_Edit_Req.New_APS_Units_Per_Individual_Monthly__c</objectFieldReference>
        </fields>
        <fields>
            <name>UPDAPS_Distribution_Method</name>
            <choiceReferences>PklstChcSet_APSDistMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Distribution Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPD_Period_Product_Types</name>
            <choiceReferences>MSPLChcSet_APSProductTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Period Product Types</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_APS_Screen</name>
        <label>Confirm APS Screen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>APSConfirmMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(42, 126, 228);&quot;&gt;Thanks for your submission. We will review it ASAP. ﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_DB_Screen</name>
        <label>Confirm DB Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DBComfirmMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(42, 126, 228); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Thanks for your submission. We will review it ASAP. ﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DB_Update_Screen</name>
        <label>DB Update Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Field_Values_DB</targetReference>
        </connector>
        <fields>
            <name>DBInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(42, 126, 228);&quot;&gt;Please enter information only for the data you would like to change. If no changes are needed for a particular field leave it blank. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UPDPrimary_Contact</name>
            <dataType>String</dataType>
            <fieldText>Primary Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDEmail_DB</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UPDPhone_DB</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>###-###-####</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UPDAddress_DB</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UPDSHPAddress_DB</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UPDCloth_Diapers</name>
            <dataType>Boolean</dataType>
            <fieldText>Cloth Diapers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>VAR_Acct_Edit_Req.New_Children_Served_Monthly__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>VAR_Acct_Edit_Req.New_Diapers_Per_Child_Monthly__c</objectFieldReference>
        </fields>
        <fields>
            <name>UPD_DBPartner_Agencies_Served_Yearly</name>
            <dataType>Number</dataType>
            <fieldText>Partner Agencies Served Yearly</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>UPD_DBDistribution_Method</name>
            <choiceReferences>PLChcSet_DistMethod_NDBN</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Distribution Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDWarehouse_Type</name>
            <choiceReferences>PLChcSet_WH_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Warehouse Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Information_Change_Request</name>
        <label>Information Change Request</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Program_Choice</targetReference>
        </connector>
        <fields>
            <name>Are_you_submitting_changes_for_Diaper_Bank_or_APS_details</name>
            <choiceReferences>Choice_DiaperBankDetails</choiceReferences>
            <choiceReferences>APSDetails</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you submitting changes for a diaper bank or period supplies program?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_all_of_your_information_up_to_date</name>
        <label>Is all of your information up to date?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Information_Change_Request</targetReference>
        </connector>
        <fields>
            <name>LaunchScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(250, 70, 22);&quot;&gt;Is all of the information on this page up to date? &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; color: rgb(250, 70, 22);&quot;&gt;*social details can be directly edited&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>No, I need to make changes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_all_of_your_information_up_to_date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Acct_Edit_Req</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Edit_Request__c</objectType>
    </variables>
</Flow>
