force-app/main/default/flows/Prototype_approvals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignacctid</name>
        <label>assignacctid</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Var_APS_User_Acct_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_all_of_your_information_up_to_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Record_Values</name>
        <label>Set_New_Record_Values</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_APS_User_Acct_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_APS_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upd_APS_Primary_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_APS_Primary_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upd_APSPrimaryContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_APS_Distribution_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UP_APS_Distribution_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Menstruators_Served_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upd_Menstruators_Served_Monthly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_APS_Partner_Agencies_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upd_APS_Partner_Agencies_Served_This_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_APS_Program_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upd_APS_Program_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_APS_Product_Types_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APS_Period_Product_Types</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_APS_Units_Per_Individual_Monthly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upd_APS_Units_Per_Individual_Monthly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSUPD_Billing_Adds.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSUPD_Billing_Adds.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSUPD_Billing_Adds.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Billing_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSUPD_Billing_Adds.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Shipping_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APDUPD_Ship_Adds.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Shipping_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APDUPD_Ship_Adds.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Shipping_state__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APDUPD_Ship_Adds.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Shipping_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APDUPD_Ship_Adds.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.New_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSUPD_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Acct_Edit_Req.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_APS_Edit_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>APSDetails</name>
        <choiceText>Period Supplies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Period Supplies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_DiaperBankDetails</name>
        <choiceText>Diaper Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diaper Bank </stringValue>
        </value>
    </choices>
    <decisions>
        <name>APS_OR_Diaper_Bank_Request</name>
        <label>APS OR Diaper Bank  Request</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_is_DB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Choice_DiaperBankDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_is_DB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Community_User_s_Contact_0_0</targetReference>
            </connector>
            <label>Choice is DB</label>
        </rules>
        <rules>
            <name>Choice_is_APS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>APSDetails</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Choice_is_APS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Community_User_s_Contact_APS</targetReference>
            </connector>
            <label>Choice is APS</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MSPLChcSet_APSProductTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APS_Period_Product_Types__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PklstChcSet_APSDistMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APS_Distribution_Method__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PLChcSet_DistMethod_NDBN</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distribution_Method__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PLChcSet_WH_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Warehouse_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserAcctId</name>
        <dataType>String</dataType>
        <expression>{!$User.Account__c}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Prototype approvals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prototype approvals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_APS_Edit_Request</name>
        <label>Create_APS_Edit_Request</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>APS_Period_Product_Types__c</field>
            <value>
                <elementReference>VAR_Acct_Edit_Req.Account__r.APS_Period_Product_Types__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Var_APS_User_Acct_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Distribution_Method__c</field>
            <value>
                <elementReference>UP_APS_Distribution_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Partner_Agencies_Value__c</field>
            <value>
                <elementReference>Upd_APS_Partner_Agencies_Served_This_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Primary_Contact_Email__c</field>
            <value>
                <elementReference>Upd_APSPrimaryContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Primary_Contact__c</field>
            <value>
                <elementReference>Upd_APS_Primary_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Product_Types_Value__c</field>
            <value>
                <elementReference>APS_Period_Product_Types</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Program_Name__c</field>
            <value>
                <elementReference>Upd_APS_Program_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_APS_Units_Per_Individual_Monthly__c</field>
            <value>
                <elementReference>Upd_APS_Units_Per_Individual_Monthly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_City__c</field>
            <value>
                <elementReference>APSUPD_Billing_Adds.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_State__c</field>
            <value>
                <elementReference>APSUPD_Billing_Adds.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_Street__c</field>
            <value>
                <elementReference>APSUPD_Billing_Adds.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_Zip__c</field>
            <value>
                <elementReference>APSUPD_Billing_Adds.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Menstruators_Served_Value__c</field>
            <value>
                <elementReference>Upd_Menstruators_Served_Monthly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Phone__c</field>
            <value>
                <elementReference>APSUPD_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>APDUPD_Ship_Adds.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>APDUPD_Ship_Adds.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Zip__c</field>
            <value>
                <elementReference>APDUPD_Ship_Adds.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_state__c</field>
            <value>
                <elementReference>APDUPD_Ship_Adds.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Edit_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Created a new Account Edit Request record for diaper/Basic needs field updates</description>
        <name>Create_DB_Edit_Request_0</name>
        <label>Create_DB_Edit_Request</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$User.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_City__c</field>
            <value>
                <elementReference>DBUPD_Address_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_State__c</field>
            <value>
                <elementReference>DBUPD_Address_0.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_Street__c</field>
            <value>
                <elementReference>DBUPD_Address_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Billing_Zip__c</field>
            <value>
                <elementReference>DBUPD_Address_0.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Children_Served_Monthly__c</field>
            <value>
                <elementReference>Upd_Children_Served_Monthly_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Cloth_Diapers_Value__c</field>
            <value>
                <elementReference>Upd_Cloth_Diapers_Provided_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Diapers_Per_Child_Monthly__c</field>
            <value>
                <elementReference>Upd_Diapers_Per_Child_monthly_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Distribution_Method__c</field>
            <value>
                <elementReference>Upd_Distribution_Method_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Partner_Agencies_Value__c</field>
            <value>
                <elementReference>Upd_Partner_Agencies_Serviced_Monthly_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Phone__c</field>
            <value>
                <elementReference>Upd_Phone_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Primary_Contact_Email__c</field>
            <value>
                <elementReference>Upd_PC_Email_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Primary_Contact__c</field>
            <value>
                <elementReference>Upd_Primary_Contact_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>DBUPD_Ship_Adds_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>DBUPD_Ship_Adds_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Zip__c</field>
            <value>
                <elementReference>DBUPD_Ship_Adds_0.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_state__c</field>
            <value>
                <elementReference>DBUPD_Ship_Adds_0.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Warehouse_Type__c</field>
            <value>
                <elementReference>Upd_Warehouse_Type_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Edit_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Query_Community_User_s_Contact_0_0</name>
        <label>Query Community User&apos;s Contact</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Diaper_Basic_Needs_Bank_Updates_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Community_User_s_Contact_APS</name>
        <label>Query Community User&apos;s Contact_APS</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APS_Update_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>APS_Update_Request</name>
        <label>APS Update Request</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_Record_Values</targetReference>
        </connector>
        <fields>
            <name>APS_Update_Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please enter information only for the data you would like to change. If no changes are needed for a particular field leave it blank. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upd_APS_Primary_Contact</name>
            <dataType>String</dataType>
            <fieldText>APS Primary Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upd_APSPrimaryContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>APS Primary Contact Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>APSUPD_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>###-###-####</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>APSUPD_Billing_Adds</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>APDUPD_Ship_Adds</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Upd_APS_Website</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>APS Website</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Upd_APS_Program_Name</name>
            <dataType>String</dataType>
            <fieldText>APS Program Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upd_Menstruators_Served_Monthly</name>
            <dataType>Number</dataType>
            <fieldText>Menstruators Served Monthly</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>UP_APS_Distribution_Method</name>
            <choiceReferences>PklstChcSet_APSDistMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>APS Distribution Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APS_Period_Product_Types</name>
            <choiceReferences>MSPLChcSet_APSProductTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>APS Period Product Types</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upd_APS_Units_Per_Individual_Monthly</name>
            <dataType>Number</dataType>
            <fieldText>APS Units Per Individual Monthly</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Upd_APS_Partner_Agencies_Served_This_Year</name>
            <dataType>Number</dataType>
            <fieldText>APS Partner Agencies Served This Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Diaper_Basic_Needs_Bank_Updates_0</name>
        <label>Diaper/Basic Needs Bank Update Request</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_DB_Edit_Request_0</targetReference>
        </connector>
        <fields>
            <name>DB_Update_Instructions_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(42, 126, 228); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Please enter information only for the data you would like to change. If no changes are needed for a particular field leave it blank. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upd_Primary_Contact_0</name>
            <dataType>String</dataType>
            <fieldText>Primary Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upd_PC_Email_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Upd_Phone_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>###-###-####</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DBUPD_Address_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DBUPD_Ship_Adds_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Upd_Cloth_Diapers_Provided_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Cloth Diapers Provided</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Upd_Children_Served_Monthly_0</name>
            <dataType>Number</dataType>
            <fieldText>Children Served Monthly</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Upd_Diapers_Per_Child_monthly_0</name>
            <dataType>Number</dataType>
            <fieldText>Diapers Per Child monthly</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Upd_Partner_Agencies_Serviced_Monthly_0</name>
            <dataType>Number</dataType>
            <fieldText>Partner Agencies Serviced Monthly</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Upd_Distribution_Method_0</name>
            <choiceReferences>PLChcSet_DistMethod_NDBN</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Distribution Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upd_Warehouse_Type_0</name>
            <choiceReferences>PLChcSet_WH_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Warehouse Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information_Change_Request</name>
        <label>Information Change Request</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>APS_OR_Diaper_Bank_Request</targetReference>
        </connector>
        <fields>
            <name>Are_you_submitting_changes_for_Diaper_Bank_or_APS_details</name>
            <choiceReferences>Choice_DiaperBankDetails</choiceReferences>
            <choiceReferences>APSDetails</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you submitting changes for a diaper bank or period supplies program?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_all_of_your_information_up_to_date</name>
        <label>Is all of your information up to date?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Information_Change_Request</targetReference>
        </connector>
        <fields>
            <name>LaunchScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(250, 70, 22);&quot;&gt;Is all of the information on this page up to date? &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; color: rgb(250, 70, 22);&quot;&gt;*social details can be directly edited&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>No, I need to make changes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignacctid</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Acct_Edit_Req</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Edit_Request__c</objectType>
    </variables>
    <variables>
        <name>Var_APS_User_Acct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
