force-app/main/default/flows/Review_Expired_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Non_Terminated_Values</name>
        <label>Assign Non-Terminated Values</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ul&gt;&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deferral_Process.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;&lt;/ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deferred_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Terminated_Values</name>
        <label>Assign Terminated Values</label>
        <locationX>442</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ul&gt;&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Termination_Process.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;&lt;/ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Terminated_Accounts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Deactivate_Accounts</name>
        <choiceText>Deactivate Account(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deactivate Account(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defer_Account_s</name>
        <choiceText>Defer Account(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defer Account(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>con_MembershipOpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012d0000000bsQ9AAI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Terminate_Account</name>
        <label>Terminate Account?</label>
        <locationX>202</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Termination_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Terminate Account</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Terminate_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Decision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Deactivate_Accounts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deferral_Process</targetReference>
            </connector>
            <label>Do Not Terminate Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for_BeginningOfLastYear</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(YEAR(ADDMONTHS({!$Flow.CurrentDate}, -12)), 01, 01))</expression>
    </formulas>
    <formulas>
        <name>for_Decision</name>
        <dataType>String</dataType>
        <expression>IF({!Account_Decision} = {!Deactivate_Accounts}, &quot;deactivated&quot;, &quot;defered&quot;)</expression>
    </formulas>
    <formulas>
        <name>for_EndOfLastYear</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(YEAR(ADDMONTHS({!$Flow.CurrentDate}, -12)), 12, 31))</expression>
    </formulas>
    <formulas>
        <name>for_OneMonthLater</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 1)</expression>
    </formulas>
    <interviewLabel>Review Expired Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Review Expired Accounts</label>
    <loops>
        <name>Deferral_Process</name>
        <label>Deferral Process</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Data_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Non_Terminated_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Termination_Process</name>
        <label>Termination Process</label>
        <locationX>354</locationX>
        <locationY>458</locationY>
        <collectionReference>Data_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Terminated_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Deferral_Process</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for_OneMonthLater</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Check on Account Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Membership Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Deferral_Process.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Deferral_Process.npe01__One2OneContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Expired_Accounts</name>
        <label>Get All Expired Accounts</label>
        <locationX>202</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Review_Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Member_ID__c</queriedFields>
        <queriedFields>NDBN_Membership_Date__c</queriedFields>
        <queriedFields>APS_Member_Type__c</queriedFields>
        <queriedFields>Primary_Contact_s_Name__c</queriedFields>
        <queriedFields>Primary_Contact_Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>npe01__One2OneContact__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>APS_Membership_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deferred_Accounts</name>
        <label>Update Deferred Accounts</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deferral_Process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Review_Membership__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Terminated_Accounts</name>
        <label>Update Terminated Accounts</label>
        <locationX>442</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Termination_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Termination_Process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Portal_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>202</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SelectedAccountsDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;The following accounts have been {!for_Decision}:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!var_SelectedAccount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>202</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Terminate_Account</targetReference>
        </connector>
        <fields>
            <name>Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Expired_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8d6e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Member_ID__c&quot;,&quot;guid&quot;:&quot;column-f0df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Member ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;APS_Membership_Date__c&quot;,&quot;guid&quot;:&quot;column-65aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;APS Membership Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;NDBN_Membership_Date__c&quot;,&quot;guid&quot;:&quot;column-f8ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;NDBN Membership Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;APS_Member_Type__c&quot;,&quot;guid&quot;:&quot;column-4467&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;APS Member Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Primary_Contact_s_Name__c&quot;,&quot;guid&quot;:&quot;column-422d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Primary Contact&apos;s Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Primary_Contact_Email__c&quot;,&quot;guid&quot;:&quot;column-73ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Primary Contact Email&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_Decision</name>
            <choiceReferences>Deactivate_Accounts</choiceReferences>
            <choiceReferences>Defer_Account_s</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Data_Table.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>76</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Expired_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_Confirmation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following accounts have been &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_BlankText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
