force-app/main/default/flows/Update_NDBN_End_date_APS_end_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_NDBN_or_APS_member_type_chosen_as_left_member</name>
        <label>Check NDBN  member type chosen as left member</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_NDBN_member_type_chosen_as_left_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NDBN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NDBN_Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left Network</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_today_s_date_to</targetReference>
            </connector>
            <label>NDBN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_NDBN_member_type_chosen_as_left_member</name>
        <label>Check APS member type chosen as left member</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APS_Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left Network</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Today_s_date_to_APS_end_date</targetReference>
            </connector>
            <label>APS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update NDBN End date &amp; APS end date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update NDBN End date &amp; APS end date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_today_s_date_to</name>
        <label>Update today&apos;s date to NDBN end date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_NDBN_member_type_chosen_as_left_member</targetReference>
        </connector>
        <inputAssignments>
            <field>NDBN_Member_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Today_s_date_to_APS_end_date</name>
        <label>Update Today&apos;s date to APS end date</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>APS_Member_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_NDBN_or_APS_member_type_chosen_as_left_member</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>APS_Member_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NDBN_Member_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
